html { 
    scroll-behavior: smooth; 
} 

body {
    background-image: url(./assets/images/el-bck-3.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#content {
    margin-top: 50px;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
}

#profile {
    border-radius: 50%;
    overflow: hidden;
}

#carouselExample {
    height: 400px;
    width: auto;
    overflow: hidden;
}

.card-body-scroll {
    height: 200px;
    overflow-y: auto;
}

 #scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
}

#scroll-top > a {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}