html { 
    scroll-behavior: smooth; 
} 

.content {
    margin-top: 50px;
}
 #scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
}

#scroll-top > a {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}